<header class="site-header">
    <div class="mobile-header">
        <div class="toggle">
            <span>
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </div>
    <nav class="site-nav">
        <a href="https://jonnyspicer.com/">Home</a>
        <a href="https://jonnyspicer.com/about/">About</a>
        <a href="https://jonnyspicer.com/blog/">Blog</a>
        <a href="https://jonnyspicer.com/contact/">Contact</a>
    </nav>
</header>
